# MySQL
MYSQL_ROOT_PASSWORD=testpass
MYSQL_DATABASE=testdb

# PostgreSQL
PG_PASSWORD=testpass
PG_DATABASE=testdb

# MariaDB
MARIADB_ROOT_PASSWORD=testpass
MARIADB_DATABASE=testdb

# MSSQL
MSSQL_SA_PASSWORD=TestPass123!
